[user]
	name = 108EAA0A
	email = k_108e@outlook.jp
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	ignorecase = false
[credential]
	helper = osxkeychain
[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[commit]
	template = ~/.stCommitMsg
[rebase]
	autosquash = true
[push]
	default = current
[rerere]
	enabled = true

[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	sw = "!f () { git switch $(git branch $1 | grep -v 'HEAD' | fzf --reverse | sed 's@remotes/origin/@@' | cut -c 3-); }; f"
	ls = ls-files
	st = status
	amend = commit --amend
	fixup = commit --fixup
	info = remote show origin
	# ブランチ移動せずに指定したブランチを最新にする
	update = "!f () { if [ -z '$(git diff HEAD..$1)' ]; then git pull origin; else git branch -D $1 && git fetch origin $1:$1 && git branch -u origin/$1 $1; fi; }; f"
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
	l = log --date=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
	ll = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	lg = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
	lm = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'

[diff]
	indentHeuristic = true
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[merge]
	tool = vscode
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait \"$MERGED\"
	trustExitCode = true
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[github]
	user = 108EAA0A
[init]
	defaultBranch = main
